/* header style */
body{
    background-color: #F6F8F9;
}
.time{
  max-width: 84px;
  width: 100%;
  max-height: 16px;
  height: 100%;
}
.current{
  color: #343638 ;
  font-weight: bolder;
}
/* Header */
.header{
    font-family: 'AG_Helvetica';
    background-color: #f6f8f9;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
  }
  .logo a {
    color: #fa6980;
    font-size: 13px;
    font-weight: bold;
  }
  .row {
    display: flex;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .header-menu-list {
    display: flex;
    justify-content: space-around;
  }
  .menu-list-link {
    /* display: block; */
    font-size: 11px;
    color: #343638;
    opacity: 0.5;
    transition: ease-out 0.4s;
    margin: 0 11px;
    transition: all 0.5s ease;
  }
  .profile{
    display: none;
  }
  .menu-list-link:hover {
    cursor: pointer;
    font-weight: bolder;
  }
/* burger */
.mobile-header{
  max-width:375px ;
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.mobile-header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.mobile-header1-div{
  display: flex;
  justify-content: flex-end;
}
.mobile-header1-img1{
  max-width:54px ;
  width: 100%;
  max-height: 18px;
  height: 100%;
}
.mobile-header1-img2{
  max-width:17px ;
  width: 100%;
  max-height: 10.67px;
  height: 100%;
  margin-right: 5px;
}
.mobile-header1-img3{
  width:15.27px ;
  width: 100%;
  height: 10.97px;
  height: 100%;
  margin-right: 5px;
}
.mobile-header1-img4{
  max-width:24.33px ;
  width: 100%;
  max-height: 11.33px;
  height: 100%;
  margin-right: 5px;
}
.mobile-header2{
  max-width:375px;
  width: 100%;
  max-height: 44px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.mobile-logo{
  font-size: 13px;
  font-weight: bold;
  font-family: 'Helvetica';
  color: #A6ADB4;
}
.mobile-header2-avatari{
max-width: 16px;
width: 100%;
max-height: 16px;
height: 100%;
}
.mobile-page2-header2{
  max-width:375px ;
  width: 100%;
  max-height: 44px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-page2-header2-arrow{
  max-width: 16px;
  width: 100%;
  max-height: 16px;
  height: 100%;
}
.mobile-page2-header2-filter {
  max-width: 28px;
  width: 100%;
  max-height: 28px;
  height: 100%;
}
 .nav-toggler {
  max-width: 16px;
  width: 100%;
  max-height: 14px;
  height: 100%;
  cursor: pointer;
  border:none;
  /* display: none; */
}
.nav-toggler span {
  max-width: 10px;
  width: 100%;
  max-height: 2px;
  height: 100%;
  background-color: #343638;
  display: block;
  margin:o auto;
  position: relative;
} 
.nav-toggler.active span{
  background-color: #343638;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 170%;
  height: 100%;
  background-color: #343638;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler span::after {
  transform: translateY(6px);
}


  /* First section: */
  /* section1-box1 */
  .section1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .section1-box1 {
    position: relative;
    max-width: 840px;
    width: 100%;
    flex-wrap: wrap;
  }
  .box1-image1 {
    object-fit: cover;
  }
  .box1-wrapper1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
  }
  .box1-text2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box1-text3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box1-text4 {
    max-width: 560px;
    width: 100%;
    max-height: 43px;
    height: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    font-family: 'Helvetica';
  }
  .line1 {
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    max-height: 2px;
    height: 100%;
    margin-top: 33px;
    margin-bottom: 46px;
  }
  .section1-button {
    max-width: 134px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    border-radius: 4px;
    border: none;
    margin-top: 34px;
    background-color: #fa6980;
    transition: ease-out 0.5s;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
  }
  .section1-button:hover{
    cursor: pointer;
    font-weight: bolder;
    background-color: #7b0404;
  }
  /* section1-box2 */
  .section1-box2{
    max-width: 600px;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    position: relative;
  }
  .box2{
    max-width: 380px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .box2-topic {
   display: flex;
   justify-content: space-between;
   border-bottom: 3px solid #e6eaec;
  }
  .box2-topics-1{
   font-size: 24px;
   font-family: 'Helvetica';
   font-weight: bold;
   color: #202124;  
   padding-bottom: 40px;
}
  .section1-arrow{
    max-width:52px;
    width: 100%;
    max-height: 10px;
    height: 100%;
  }
  .box2-wrapper2{
    display: flex;
    flex-direction: column;
  }
  .box2-Topic1 {
    padding-top: 40px;
    font-size: 16px;
    color: #FA6980;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-Topic2 {
    padding-top: 40px;
    font-size: 16px;
    color: #FA6980;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-title1{
    padding-top: 20px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-title2{
    padding-top: 20px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-article1 {
    font-size: 16px;
    color: #A6ADB4;
    font-family: 'Acumin Pro';
    line-height: 26px;
  }
  .box2-article2 {
    font-size: 16px;
    color: #A6ADB4; 
    font-family: 'Acumin Pro';
    line-height: 26px;
  }
.section2-arrow{
    max-width:52px;
    width: 100%;
    max-height: 10px;
    height: 100%;
}
/* Second section: */
.section2-box {
  max-width: 1160px;
  width: 100%;
  max-height: 410px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section2-box1{
  max-width: 1160px;
  width: 100%;
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom:25px ;
}
.section2-box2{
  max-width: 1160px;
  width: 100%;
  maxi-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box2-top {
  max-width: 360px;
  width:100% ;
  max-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:#ffffff;
}
.section2-box2-top1 {
  max-width: 360px;
  width: 100%;
  max-height: 180px;
  height: 100%;
 }
.section2-top-1 {
  max-width: 360px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  padding: 40px;
}
.section2-title{
  font-size: 16px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
}
.section2-p{
  max-width: 280px;
  width: 100%;
  font-size: 13px;
  color: #A6ADB4;
  font-family: 'Acumin Pro';
  line-height: 23px;
} 
/* Third section: */
.section3{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* section3-box1 */
.section3-box1 {
max-width: 760px;
width: 100%;
max-height: 951px;
height: 100%;
display: flex;
flex-direction: column;
}
.section3-title {
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
  line-height: 20px;
  padding-bottom:25px;
}
.section3-box1{
  display: flex;
  flex-direction: column;
}
.section3-box1-city{
  position: relative;
  max-width: 760px;
  width: 100%;
  max-height: 430px;
  height: 100%;
  margin-bottom: 40px;
}
.section3-box1-travel{
  position: relative;
  max-width: 760px;
  width: 100%;
  max-height: 430px;
  height: 100%;
  margin-bottom: 80px;
}
.section3-image{
  object-fit: cover;
}
.section3-wrapper{
display: flex;
flex-direction: column;
max-width: 760px;
width: 100%;
max-height: 430px;
height: 100%;
color: #ffffff;
}
.section3-wrapper-1 {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica';
}
.section3-wrapper-2 {
  position: absolute;
  left: 40px;
  bottom: 40px;
  max-width: 680px;
  width: 100%;
  max-height: 102px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section3-image{
  object-fit: cover;
}
.section3-h1{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 34px;
}
.section3-p{
  font-size: 16px;
  font-family: 'Helvetica';
  line-height: 26px;
}
/* section3-box2 */
.section3 {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section3-box2 {
  margin-left: 40px;
  max-width: 360px;
  width: 100%;
  max-height: 951px;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.section3-box2-topics{
  max-height: 900px;
  height: 100%;
}
.section3-box2-top{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.section3-box2-title{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Acumin Pro';
  line-height: 26px;
  padding-top: 20px;
}
.section3-arrow{
  max-width:52px;
  width: 100%;
  max-height: 10px;
  height: 100%;

}
/* footer */
.footer{
  margin:  auto;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#A6ADB4 ;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container1 {
  max-width: 378px;
  width: 100%;
  max-height: 84px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.container2-1 {
  max-width: 262px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #CBD0D3;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
}
.container2-2 {
  max-width: 160px;
  width: 100%;
  max-height: 16px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.column{
  max-height: 84px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-logo{
 color: #FFFFFF; 
 font-size: 13px;
 font-weight: bold;
 font-family: Helvetica;
 line-height: 20px;
}
.a-tag{
  color: #CBD0D3;
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 20px;
}
.input{
  max-height: 40px;
  height: 100%;
  border:2px solid #CBD0D3 ;
  border-radius: 4px;
  background-color: #A6ADB4;
}
.input-p{
  color: #CBD0D3;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
  margin-top: 10px;
}
::placeholder {
  color: #CBD0D3;
  opacity: 0.5; 
  font-size: 13px;
  font-family: Helvetica;
  line-height: 20px;
  padding-left: 10px;
}
.icon{
  color: #ffffff;
}
.footer-mobile{
  border-top: 2px solid #EBEDED;
  padding-top: 20px;
  display: none;
}
.footer-mobile ul{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  }
  .footer-mobile a{
    color: #CBD0D3;
    opacity: 0.5; 
    font-size: 11px;
    font-family: Helvetica;
    line-height: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }
 
/* page2 - */
/* page2-section1 */
.page2-box1{
  max-width:1160px ;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.box1-collumn1{
  max-width: 580px;
  width: 100%;
  max-height: 558px;
  
}
.collumn1-top{
  max-width: 199px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-topic1{
  color: #202124;
  font-size: 11px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 20px;
}
.top-img1{
  max-width: 16px;
  width: 100%;
  max-height: 16px;
  height: 100%;
}
.top-topic2{
  color: #A6ADB4;
  font-weight: bold;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
}
.collumn1-body{
  position: relative;
  max-width: 580px;
  width: 100%;
  max-height: 500px;
  /* height: 100%; */
  display: flex;
}
.box2-image1 {
  object-fit: cover;
}
.page2-wrapper1 {
  position: absolute;
  max-width: 360px;
  width: 100%;
  left: 110px;
  top: 155px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page2-title1 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 42px ;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.line2 {
  max-width: 40px;
  width: 100%;
  max-height: 2px;
  height: 100%;
  background-color: #FA6980;
  margin-bottom: 10px;
}
.page2-title2 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 26px ;
  color: #FFFFFF;
}
.page2-image2{
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  margin-top: 20px;
}
.box1-collumn2{
  max-width: 580px;
  width: 100%;
  max-height: 570px;
  
}
.top-img2{
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}
.collumn2-top1{
  max-width: 580px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.collumn2-top2{
  max-width: 580px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collumn2-top2-box{
  max-width: 360px;
  width: 100%;
  max-height: 246px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collumn2-top2-box label{
  color: #202124;
  font-weight: bold;
  font-size: 13px;
  font-family: Helvetica;
  line-height: 20px;
}
.collumn2-top2-box input {
  max-width: 360px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  border-radius: 6px;
  border: 2px solid;
  border-color: #EBEDED;
}
.collumn2-top2-box button {
  max-width: 134px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  border-radius: 4px;
  border: none;
  background-color: #fa6980;
  transition: ease-out 0.5s;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
}
.collumn2-top2 button:hover{
  cursor: pointer;
  font-weight: bolder;
  background-color: #7b0404;
}

/* page2-section2 */
.page2-box2 {
  max-width:1160px ;
  width: 100%;
  max-height: 253px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0  auto;
  border-top: 2px solid #EBEDED;
  border-bottom: 2px solid #EBEDED;
  margin-top: 80px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  }
.par1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #202124;
  font-family: Helvetica;
  line-height: 26px;
  margin-top: 20px;
}
.par2 {
  max-width: 360px;
  width: 100%;
  font-size: 14px;
  color: #A6ADB4;
  font-family: Helvetica;
  line-height: 26px;
}
.box2-row3{
  display: flex;
  flex-direction: column;
}
/* page2-section3 */
.page2-box3 {
  max-width: 1160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.page2-p{
  max-width: 760px;
  width: 100%;
  font-size: 14px;
  color: #A6ADB4;
  font-family: Helvetica;
  line-height: 26px;
  margin-top: 40px;
}
.page2-p-mobile {
  max-width: 760px;
  width: 100%;
  font-size: 14px;
  color: #202124;
  font-family: Helvetica;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: none;
}

/* index3.html file styles */
.container {
  width: 100vw;
  height: 100vh;
  background-color: #cfd6f0;
}
.select_user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.label {
  font-size: 32px;
  color: #4b6a9b;
  font-weight: bold;
}
.select {
  border: 4px solid #4b6a9b;
  width: 400px;
  height: 70px;
  margin-left: 30px;
  border-radius: 4px;
}
.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #4b6a9b;
}
.user_card {
  width: 40vw;
  border: 2px solid gray;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_name {
  margin-left: 30px;
  font-size: 24px;
}
.user_information {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}


@media screen and (max-width: 1120px) {
  
  
}

@media screen and (max-width: 1120px) {
  .user_card {
    width: 60vw;
  }
}

@media(max-width:768px){
  .section1{
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section1-box1{
    max-width: 768px;
    width: 100%;
  }
  .box1-image1{
    width: 100%;
  }
  .box1-wrapper1 {
    max-height: 239 ;
    height: 100%;
    top: 160px;
    left: 100px;
  }
  .section1-box2 {
    max-height: 343px;
    height: 100;
    display: flex;
    flex-direction: row;
  }
  .box2-wrapper2{
    max-width: 608px;
    width: 100%;
    flex-direction: row;
  }

  /* <!-- page2-section2 --> */

   /* <!-- footer --> */
  .container1 {
    max-width: 567px;
    width: 100%;
    max-height: 84px;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
    margin:0 auto;
    margin-bottom: 60px;
  }
}


@media screen and (max-width: 670px) {
  .user_card {
    width: 80vw;
  }
  .select {
    width: 250px;
    height: 50px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 520px) {
  .label {
    font-size: 16px;
  }
  .user_name {
    margin-left: 15px;
    font-size: 14px;
  }
  .user_information {
    font-size: 12px;
    margin-right: 15px;
  }
}
.mobile-overlay{
  visibility: hidden;
}

@media(max-width:375px){
  .header-main{
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .mobile-overlay{
    position: fixed;
    left:-100%;
    top:0;
    gap:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6f8F9;
    max-width: 375px;
    width: 100%;
    /* text-align: center; */
    transition: 3s;
  }
  .menu-logo{
    display: inline-block;
    margin: 42px 0 90px 39px;
    font-family:  Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FA6980;
  }
  .menu-item{
    margin: 16px 0 0 39px;
    
    font-family:  Helvetica, sans-serif;
    font-size: 11;
    font-weight: bold;
    color: #343638;
    opacity: 0.5;
  }
  .menu-item:first-child{
    opacity: 1;
  }
.mobile-overlay.active{
  left:0;
  visibility: visible;
  z-index: 99;
  width: 100%;
  height: 100%;
}


/* page2-section2 */


/* page2-section3 */
.page2-p-mobile{
display: block;
}
/* page2-footer*/
.footer{
  display: none;
}
.footer-mobile{
  display: block;
}
}
 