/* header style */
body{
    background-color: #F6F8F9;
}
.time{
  width: 84px;
  height: 16px;
}
.current{
  font-weight: bolder;
}
/* Header */
.header{
    font-family: 'AG_Helvetica';
    background-color: #f6f8f9;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
  }
  .header-logo {
    color: #fa6980;
    font-size: 13px;
    font-weight: bold;
  }
  .menu {
    display: flex;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }
  .header-menu-list {
    display: flex;
    justify-content: space-around;
    font-size: 11px;
    color: #343638;
  }
  .menu-list-link {
    transition: ease-out 0.4s;
    margin: 0 11px;
  }
  .menu-list-link:hover {
    cursor: pointer;
    text-decoration:underline;
  }
  /* First section: */
  .main-container{
    max-width: 1440px;
    display: flex;
    flex-direction:column;
    margin: 0 auto;
  }
  /* section1-box1 */
  .section1 {
    display: flex;
  }
  .section1-box1 {
    position: relative;
    width: 840px;
    height: 600px;
  }
  .box1-image1 {
    object-fit: cover;
  }
  .box1-wrapper1 {
    position: absolute;
    max-width: 600px;
    left: 140px;
    top: 177px;
    color: #ffffff;
  }
  .box1-text2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box1-text3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box1-text4 {
    width: 560px;
    height: 43px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    font-family: 'Helvetica';
  }
  .line1 {
    background-color: #ffffff;
    width: 600px;
    height: 2px;
    margin-top: 33px;
    margin-bottom: 46px;
  }
  .section1-button {
    width: 134px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-top: 34px;
    background-color: #fa6980;
    transition: ease-out 0.5s;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
  }
  .section1-button:hover{
    cursor: pointer;
    font-weight: bolder;
    background-color: #7b0404;
  }
  /* section1-box2 */
  .section1-box2{
    width: 600px;
    height: 600px;
    background-color: #ffffff;
  }
  .box2{
    padding-left: 100px;
    padding-top: 100px;
    width: 600px;
  }
  .box2-wrapper2{
    width: 380px;
    height: 299px;
  }
  .box2-topics {
   max-width: 380px;
   font-size: 24px;
   font-family: 'Helvetica';
   font-weight: bold;
   color: #202124;
   border-bottom: 3px solid #e6eaec;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
  }
  .box2-topics-1{
    margin-bottom: 40px;
  }
  .section2-arrow{
    width:52px;
    height: 10px;
  }
  .box2-Topic1 {
    margin-top: 40px;
    font-size: 16px;
    color: #FA6980;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-Topic2 {
    margin-top: 40px;
    font-size: 16px;
    color: #FA6980;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-title1{
    margin-top: 26px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-title2{
    margin-top: 26px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-article1 {
    font-size: 16px;
    color: #A6ADB4;
    font-family: 'Acumin Pro';
    line-height: 26px;
  }
  .box2-article2 {
    font-size: 16px;
    color: #A6ADB4; 
    font-family: 'Acumin Pro';
    line-height: 26px;
  }
.section2-arrow{
    width:52px;
    height: 10px;
}
/* Second section: */
.section2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.section2-box {
  max-width: 1160px;
  height: 410px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.section2-box1{
  max-width: 1160px;
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom:25px ;
}
.section2-box2{
  width: 1160px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box2-top {
  max-width: 360px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}
.section2-box2-top1 {
  max-width: 360px;
  max-height: 180px;
 }
.section2-top-1 {
  max-width: 360px;
  height: 350px;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  padding: 40px;
}
.section2-title{
  font-size: 16px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
}
.section2-p{
  width: 280px;
  font-size: 13px;
  color: #A6ADB4;
  font-family: 'Acumin Pro';
  line-height: 23px;
} 
/* Third section: */
.section3{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* section3-box1 */
.section3-box1 {
width: 760px;
height: 951px;
display: flex;
flex-direction: column;
}
.section3-title {
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
  line-height: 20px;
  padding-bottom:25px;
}
.section3-box1{
  display: flex;
  flex-direction: column;
}
.section3-box1-city{
  position: relative;
  width: 760px;
  height: 430px;
  margin-bottom: 40px;
}
.section3-box1-travel{
  position: relative;
  width: 760px;
  height: 430px;
  margin-bottom: 80px;
}
.section3-image{
  object-fit: cover;
}
.section3-wrapper{
display: flex;
flex-direction: column;
max-width: 760px;
max-height: 430px;
color: #ffffff;
}
.section3-wrapper-1 {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica';
}
.section3-wrapper-2 {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 680px;
  height: 102px;
  display: flex;
  flex-direction: column;
}
.section3-image{
  object-fit: cover;
}
.section3-h1{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 34px;
}
.section3-p{
  font-size: 16px;
  font-family: 'Helvetica';
  line-height: 26px;
}
/* section3-box2 */
.section3-box2 {
  margin-left: 40px;
  width: 360px;
  height: 951px;
  display: flex;
  flex-direction: column;

}
.section3-box2-topics{
  max-height: 900px;
}
.section3-box2-top{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.section3-box2-title{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Acumin Pro';
  line-height: 26px;
  padding-top: 20px;
}
.section3-arrow{
  width:52px;
  height: 10px;

}
/* footer */
.footer{
  min-height: 200px;
  margin:  auto;
  margin-top: 80px;
  padding-top: 40px;
  background-color:#A6ADB4 ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column{
  height: 84px;
  display: flex;
  flex-direction: column;
}
.footer-logo{
 color: #FFFFFF; 
 font-size: 13px;
 font-weight: bold;
 font-family: Helvetica;
 line-height: 20px;
}
.a-tag{
  color: #CBD0D3;
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 20px;
}
.container1{
  width: 378px;
  height: 84px;
  display: flex;
  justify-content: space-between;
}
.container2{
  width: 262px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #CBD0D3;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
}
.input{
  height: 40px;
  border:2px solid #CBD0D3 ;
  border-radius: 4px;
  background-color: #A6ADB4;
}
.input-p{
  color: #CBD0D3;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
  margin-top: 10px;
}
::placeholder {
  color: #CBD0D3;
  opacity: 0.5; 
  font-size: 13px;
  font-family: Helvetica;
  line-height: 20px;
  padding-left: 10px;
}
.container3 {
  width: 160px;
  height: 16px;
  display: flex;
  justify-content: space-around;
}
.icon{
  color: #ffffff;
}