/* header style */
body{
    background-color: #F6F8F9;
}
.time{
  width: 84px;
  height: 16px;
}
.current{
  color: #343638 ;
  font-weight: bolder;
}
/* Header */
.header{
    font-family: 'AG_Helvetica';
    background-color: #f6f8f9;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
  }
  .logo {
    color: #fa6980;
    font-size: 13px;
    font-weight: bold;
  }
  .row {
    display: flex;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .header-menu-list {
    display: flex;
    justify-content: space-around;
  }
  .menu-list-link {
    /* display: block; */
    font-size: 11px;
    color: #343638;
    opacity: 0.5;
    transition: ease-out 0.4s;
    margin: 0 11px;
    transition: all 0.5s ease;
  }
  .profile{
    display: none;
  }
  .menu-list-link:hover {
    cursor: pointer;
    font-weight: bolder;
  }
/* burger */
 .nav-toggler {
  width: 16px;
  height: 14px;
  cursor: pointer;
  border:none;
  display: none;
}
.nav-toggler span {
  width: 10px;
  height: 2px;
  background-color: #343638;
  display: block;
  margin:o auto;
  position: relative;
} 
.nav-toggler.active span{
  background-color: #343638;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 170%;
  height: 100%;
  background-color: #343638;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler span::after {
  transform: translateY(6px);
}

  /* First section: */
  /* section1-box1 */
  .section1 {
    width: 1440px;
    display: flex;
    margin: 0 auto;
  }
  .section1-box1 {
    position: relative;
    width: 840px;
    height: 600px;
  }
  .box1-image1 {
    object-fit: cover;
  }
  .box1-wrapper1 {
    position: absolute;
    max-width: 600px;
    left: 140px;
    top: 177px;
    color: #ffffff;
  }
  .box1-text2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box1-text3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box1-text4 {
    width: 560px;
    height: 43px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    font-family: 'Helvetica';
  }
  .line1 {
    background-color: #ffffff;
    width: 600px;
    height: 2px;
    margin-top: 33px;
    margin-bottom: 46px;
  }
  .section1-button {
    width: 134px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-top: 34px;
    background-color: #fa6980;
    transition: ease-out 0.5s;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
  }
  .section1-button:hover{
    cursor: pointer;
    font-weight: bolder;
    background-color: #7b0404;
  }
  /* section1-box2 */
  .section1-box2{
    width: 600px;
    height: 600px;
    background-color: #ffffff;
  }
  .box2{
    padding-left: 100px;
    padding-top: 100px;
    width: 600px;
  }
  .box2-wrapper2{
    width: 380px;
    height: 299px;
  }
  .box2-topics {
   width: 380px;
   font-size: 24px;
   font-family: 'Helvetica';
   font-weight: bold;
   color: #202124;
   border-bottom: 3px solid #e6eaec;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
  }
  .box2-topics-1{
    margin-bottom: 40px;
  }
  .section2-arrow{
    width:52px;
    height: 10px;
  }
  .box2-Topic1 {
    margin-top: 40px;
    font-size: 16px;
    color: #FA6980;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-Topic2 {
    margin-top: 40px;
    font-size: 16px;
    color: #FA6980;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-title1{
    margin-top: 26px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-title2{
    margin-top: 26px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  .box2-article1 {
    font-size: 16px;
    color: #A6ADB4;
    font-family: 'Acumin Pro';
    line-height: 26px;
  }
  .box2-article2 {
    font-size: 16px;
    color: #A6ADB4; 
    font-family: 'Acumin Pro';
    line-height: 26px;
  }
.section2-arrow{
    width:52px;
    height: 10px;
}
/* Second section: */
.section2-box {
  width: 1160px;
  height: 410px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section2-box1{
  width: 1160px;
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom:25px ;
}
.section2-box2{
  width: 1160px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box2-top {
  width: 360px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}
.section2-box2-top1 {
  width: 360px;
  height: 180px;
 }
.section2-top-1 {
  max-width: 360px;
  height: 350px;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  padding: 40px;
}
.section2-title{
  font-size: 16px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
}
.section2-p{
  width: 280px;
  font-size: 13px;
  color: #A6ADB4;
  font-family: 'Acumin Pro';
  line-height: 23px;
} 
/* Third section: */
.section3{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* section3-box1 */
.section3-box1 {
width: 760px;
height: 951px;
display: flex;
flex-direction: column;
}
.section3-title {
  font-size: 24px;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #202124;
  line-height: 20px;
  padding-bottom:25px;
}
.section3-box1{
  display: flex;
  flex-direction: column;
}
.section3-box1-city{
  position: relative;
  width: 760px;
  height: 430px;
  margin-bottom: 40px;
}
.section3-box1-travel{
  position: relative;
  width: 760px;
  height: 430px;
  margin-bottom: 80px;
}
.section3-image{
  object-fit: cover;
}
.section3-wrapper{
display: flex;
flex-direction: column;
max-width: 760px;
max-height: 430px;
color: #ffffff;
}
.section3-wrapper-1 {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica';
}
.section3-wrapper-2 {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 680px;
  height: 102px;
  display: flex;
  flex-direction: column;
}
.section3-image{
  object-fit: cover;
}
.section3-h1{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 34px;
}
.section3-p{
  font-size: 16px;
  font-family: 'Helvetica';
  line-height: 26px;
}
/* section3-box2 */
.section3 {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.section3-box2 {
  margin-left: 40px;
  width: 360px;
  height: 951px;
  display: flex;
  flex-direction: column;

}
.section3-box2-topics{
  max-height: 900px;
}
.section3-box2-top{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.section3-box2-title{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Acumin Pro';
  line-height: 26px;
  padding-top: 20px;
}
.section3-arrow{
  width:52px;
  height: 10px;

}
/* footer */
.footer{
  min-height: 200px;
  margin:  auto;
  margin-top: 80px;
  padding-top: 40px;
  background-color:#A6ADB4 ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column{
  height: 84px;
  display: flex;
  flex-direction: column;
}
.footer-logo{
 color: #FFFFFF; 
 font-size: 13px;
 font-weight: bold;
 font-family: Helvetica;
 line-height: 20px;
}
.a-tag{
  color: #CBD0D3;
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 20px;
}
.container1{
  width: 378px;
  height: 84px;
  display: flex;
  justify-content: space-between;
}
.container2{
  width: 262px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #CBD0D3;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
}
.input{
  height: 40px;
  border:2px solid #CBD0D3 ;
  border-radius: 4px;
  background-color: #A6ADB4;
}
.input-p{
  color: #CBD0D3;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
  margin-top: 10px;
}
::placeholder {
  color: #CBD0D3;
  opacity: 0.5; 
  font-size: 13px;
  font-family: Helvetica;
  line-height: 20px;
  padding-left: 10px;
}
.container3 {
  width: 160px;
  height: 16px;
  display: flex;
  justify-content: space-around;
}
.icon{
  color: #ffffff;
}

/* page2 - */
/* page2-section1 */
.page2-box1{
  width:1160px ;
  display: flex;
  margin: 0 auto;
}
.box1-collumn1{
  width: 580px;
  height: 570px;
}
.collumn1-top{
  width: 199px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-topic1{
  color: #202124;
  font-size: 11px;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 20px;
}
.top-img1{
  width: 16px;
  height: 16px;
}
.top-topic2{
  color: #A6ADB4;
  font-weight: bold;
  font-size: 11px;
  font-family: Helvetica;
  line-height: 20px;
}
.collumn1-body{
  position: relative;
  width: 580px;
  height: 500px;
  display: flex;
}
.box2-image1 {
  object-fit: cover;
}
.page2-wrapper1 {
  position: absolute;
  width: 360px;
  left: 110px;
  top: 155px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page2-title1 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 42px ;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.line2 {
  width: 40px;
  height: 2px;
  background-color: #FA6980;
  margin-bottom: 10px;
}
.page2-title2 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 26px ;
  color: #FFFFFF;
}
.page2-image2{
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.box1-collumn2{
  width: 580px;
  height: 570px;
}
.top-img2{
  width: 40px;
  height: 40px;
}
.collumn2-top1{
  width: 580px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
.collumn2-top2{
  width: 580px;
  height: 500px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collumn2-top2-box{
  width: 360px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collumn2-top2-box label{
  color: #202124;
  font-weight: bold;
  font-size: 13px;
  font-family: Helvetica;
  line-height: 20px;
}
.collumn2-top2-box input {
  width: 360px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid;
  border-color: #EBEDED;
}
.collumn2-top2-box button {
  width: 134px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #fa6980;
  transition: ease-out 0.5s;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
}
.collumn2-top2 button:hover{
  cursor: pointer;
  font-weight: bolder;
  background-color: #7b0404;
}

/* page2-section2 */
.page2-box2 {
  width:1160px ;
  height: 253px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  auto;
  border-top: 2px solid #EBEDED;
  border-bottom: 2px solid #EBEDED;
  margin-top: 40px;
  margin-bottom: 40px;
  }
.par1 {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  font-size: 24px;
  font-weight: bold;
  color: #202124;
  font-family: Helvetica;
  line-height: 26px;
  margin-top: 20px;
}
.par2 {
  width: 360px;
  font-size: 14px;
  color: #A6ADB4;
  font-family: Helvetica;
  line-height: 26px;
}
.box2-row3{
  display: flex;
  flex-direction: column;
}
/* page2-section3 */
.page2-box3 {
  width: 1160px;
  height: 830px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.page2-p{
  width: 760px;
  font-size: 14px;
  color: #A6ADB4;
  font-family: Helvetica;
  line-height: 26px;
  margin-top: 40px;
}

@media(max-width:375px){
  .nav-toggler {
      display: block;
  }
  .header-container {
    width: 287px;
    height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
  }
  .header-menu-list.open{
    visibility: visible;
  }
  .profile {
    display: block;
  }
  
  /* .header .nav {
      width:100% ;
      padding: 0;
      max-height: 0px;
      overflow: hidden;
      visibility: hidden;
      transition: all 0.5s ease;
  } */
  /* .header .nav.open{
      visibility: visible;
  } */
  /* .header-menu-list {
      padding: 12px 15px 0;
      margin-top: 12px;
      border-top: 1px solid rgba(255,255,255, 0.2);
  } */
  /* .header .nav ul li {
     display: block;
     margin: 0;
  } */
}